@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --lightw-white: #fff9;
    --dark-bg: rgba(0, 0, 0, 0.7);
    --light-bg: #eee;
    --border: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

section {
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.header .fa fa-user-circle {
    color: var(--main-color);
    width: 20rem;
    height: 20rem;
}

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.message {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 5px;
    text-align: center;
    z-index: 1000;
    background-color: opacity(0.2rem);
    box-shadow: var(--box-shadow);
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 100px;

}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--main-color);
}

.delete-btn,
.option-btn {
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
}

.delete-btn:hover,
.option-btn:hover {
    background: var(--main-color);
}

.delete-btn {
    background-color: rgb(207, 90, 90);
}

.option-btn {
    background: var(--light-black);
}

.heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}


.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}



.header .navbar a:hover {
    color: var(--main-color);
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

/* HOME */

.home {
    padding: 0;
}

.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 45rem;
}

.home .slide .content {
    width: 85rem;
    display: none;
    cursor: pointer;
}

.home .swiper-slide-active .content {
    display: inline-block;
    cursor: pointer;
}

.home .slide .content span {
    display: block;
    font-size: 2.2rem;
    color: var(--lightw-white);
    padding-bottom: 1rem;
    animation: fadeIn 0.2s linear backwards 0.2s;
    cursor: pointer;
}

.home .slide .content h3 {
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn 0.2s linear backwards 0.4s;
    cursor: pointer;
}

.home .slide .content .btn {
    animation: fadeIn 0.2s linear backwards 0.6s;
}

.home .swiper-button-next,
.home .swiper-button-prev {
    display: none;
}

.home .swiper-button-prev {
    right: 7rem;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}

.services .box-container .box:hover {
    background: var(--black);
}

.services.box-container.box img {
    height: 7rem;
}

.services .box-container .box h3 {
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image {
    flex: 1 1 41rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--black);
    line-height: 2;
}

.home-packages {
    background: var(--light-bg);
}

.home-packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.home-packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.home-packages .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.home-packages .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.home-packages .load-more {
    text-align: center;
    margin-top: 2rem;
}

.home-offer {
    text-align: center;
}

.home-offer img {
    padding: 1rem;
    width: 50%;
    height: 50%;
}

.home-offer .content {
    max-width: 70rem;
    margin: 0 auto;
}

.home-offer .content h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.home-offer .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

/* ABOUT */

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image {
    flex: 1 1 41rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 41rem;
    text-align: center;
}

.about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.about .content p {
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem;
}

.about .content .icons-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons {
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.about .content .icons-container .icons .span {
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}

.reviews {
    background: var(--light-bg);
}

.reviews .slide {
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select: none;
}

.reviews .slide .stars {
    padding-bottom: 0.5rem;
}

.reviews .slide .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.reviews .slide p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.reviews .slide h3 {
    font-size: 2rem;
    color: var(--black);
}

.reviews .slide span {
    font-size: 1.5rem;
    color: var(--main-color);
    display: block;
}

.reviews .slide img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}

/* ARCHIVE */

.archive .box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

.packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}

.archive .box-container .box:nth-child(1),
.archive .box-container .box:nth-child(2),
.archive .box-container .box:nth-child(3),
.archive .box-container .box:nth-child(4),
.archive .box-container .box:nth-child(5),
.archive .box-container .box:nth-child(6) {
    display: inline-block;
}

.archive .box-container .box:hover .image img {
    transform: scale(1.1);
}

.archive .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.archive .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.archive .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.archive .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.archive .box-container .box .content p {
    font-size: 1.4rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.archive .load-more {
    text-align: center;
    margin-top: 2rem;
}

/* CONTACT */



/* PRODUCTS */


.products{
    background-image: url(imgs/wavy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

 .products h1 {
    font-size: 5rem;
    padding-bottom: 5rem;
}



.products form{
    padding: 1.5rem;
}

.products form .amount{
    opacity:0.7;
    background-color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    margin: 2rem;
    padding: 1rem;
}

.products form .amount:hover{
    cursor: pointer;
}

.products form .amount:focus{
    opacity: 1;
    background-color: var(--light-black);
    color: var(--white);
    cursor: pointer;
}

.products form .price{
    font-weight: bold;
    font-size: large;
    margin-top: 2rem;
}

.products form .name{
    font-weight: bold;
    font-size: 25px;
    margin: 2rem;
    gap: 15px;
    justify-content: center;
}

.products .box-container form .description{
   font-size: 15px;
}

.products .box-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.products .box-container .box{
    text-align: center;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 20px;
    margin: 10px;
    width: 310px;
}

.products .box-container .box:hover{
    transform: scale(1.1);
    opacity: 2;
}

.products .box-container .box img{
    height: 130px;
}

.products .box-container .box .btn{
    margin: 1rem;
    padding: 1rem;
} 

/* SHOPPING CART */

.cart {
    background-image: url(imgs/wavy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cart .container h1{
    font-size: 5rem;
    padding-bottom: 5rem;
}

.cart table{
    min-height: 500px;
    width: 100%;
}

.cart table thead{
    padding: 1.5rem;
}

.cart .container{
    align-items: center;
    display: inline;
    justify-content: center;
}

.cart table thead th{
    font-size: large;
}

.cart table tbody{
    padding: 1.5rem;
}

.cart table tbody td{
    font-size: 15px;
    padding: 1rem;
}

.cart table tbody td form .quantity{
    opacity:0.7;
    background-color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    margin: 2rem;
    padding: 1rem;
}

.cart table tbody tr{
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

.cart table tbody tr:hover{
    transform: scale(1.05);
    margin: 1rem;
}

.cart table tbody tr .options-btn{
    margin: 1rem;
    padding: 1rem;
}

.cart table tbody tr td img{
    padding-left: 5rem;
}

.cart table tbody .table-bottom{
    border-radius: none;
    box-shadow: none;
}

.cart table tbody .table-bottom td{
    font-size: 20px;
}

.cart .cart-btn{
    margin-top: 10px;
    text-align: center;
}

.cart .cart-btn .disabled{
    pointer-events: none;
    opacity: 0.7;
    user-select: none;
}

.delete-btn .disabled{
    pointer-events: none;
    opacity: 0.7;
    user-select: none;
}

.cart .empty{
    text-align: center;
    align-items: center;
    box-shadow: none;
}


/* LOGIN/REGISTRATION */

.login {
    background-image: url(imgs/wavy.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login .heading-title {
    color: var(--black);
}

.login-box {
    background: opacity(0.8);
}

.login-box h3 {
    text-align: center;
    color: rgb(140, 69, 255);
    font-size: large;
}

.login-box h3:hover {
    text-align: center;
    color: rgb(227, 58, 185);
    font-size: large;
}

.login .form-container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 30vh;
}

.login .book-form {
    background-color: opacity(0.3px);
}

.login .form-container form{
    width: 600px;
    display: inline-block;
}

.login .book-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.login .book-form .flex .inputBox {
    flex: 1 1 41rem;
}

.login .book-form .flex .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
    border-radius: 5px;
    opacity: 0.6;
}

.login .book-form .flex .inputBox input:focus {
    background: var(--black);
    color: var(--white);
}

.login .book-form .flex .inputBox input:focus::placeholder {
    color: var(--lightw-white);
}

.login .book-form .flex .inputBox span {
    font-size: 1.5rem;
    color: var(--light-black);
}

.login .book-form .flex .btn {
    margin-top: 7rem;
}

/* PROFILE */

.profile{
    background-image: url(imgs/wavy.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
   
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
}

.container .user-profile{
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;

}



/* FOOTER */

.footer {
    background: url(./imgs/thumb-1920-974622-2470758164) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--lightw-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: 5rem;
    transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1rem solid var(--lightw-white);
    font-size: 2rem;
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    section {
        padding: 3rem 5%;
    }

    .cart .container thead{
        display: none;
    }

    .cart .container tr{
        display: flex;
        flex-wrap: wrap;
    }

    .cart table tbody .table-bottom:hover{
        transform: none;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .slide {
        min-height: 59rem;
    }

    .home .slide .content h3 {
        font-size: 10vw;
    }

    .cart .container thead{
        display: none;
    }

    .cart .container tr{
        display: flex;
        flex-wrap: wrap;
    }

    .cart table tbody .table-bottom:hover{
        transform: none;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline;
        transition: 0.2s linear;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        opacity: 0.85;
        border-top: var(--border);
        padding: 2rem;
        transition: 0.2s linear;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .cart .container{
        align-items: center;
        display: inline;
        justify-content: center;
    }

    .cart .container h1{
        padding-bottom: 5rem;
    }

    .cart .container thead{
        display: none;
    }

    .cart .container tr{
        display: flex;
        flex-wrap: wrap;
    }

    .cart table tbody .table-bottom:hover{
        transform: none;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 3.5rem;
    }

    .login .form-container form{
        width: 600px;
    }

    .cart table tbody .table-bottom:hover{
        transform: none;
    }
}

